# macOS
.DS_Store

# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
out/

# Java
*.class
hs_err_pid*
replay_pid*

# Logs
*.log

# Package artifacts (usually don't commit built binaries)
*.jar
*.war
*.ear
*.nar

# Allow Gradle wrapper jar
!gradle/wrapper/gradle-wrapper.jar

# OS / temp
*.swp
*~
